the_rag/Doc_corpus
/.venv
/.ipynb_checkpoints
cache_toy_models_hires.pkl
.DS_Store
/notebooks/figures
cache_rt2_hires.pkl
__pycache__/

the_rag/notebooks/figures
the_rag/notebooks/first_cache_rt2_hires.pkl

/.ipynb_checkpoints